/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* general style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu-item {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu-item > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid red;
}

/* navbar styles wuth dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* main content */
main {
    background-color: bisque;
    flex: 1 auto;
    margin-top: 47px;
}


/* footer */

#social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-links > i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* media queries */

@media screen and (min-width: 768px){
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1 rem;
    }

    #menu-item {
        display: flex;
    }

    #menu-item > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 210%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* main content */
    main {
        margin-top: 75px;
    }
}

/* larger devices [laptops and desktops of 992px plus] */
@media screen and (min-width: 992px) {
    #menu-item a:hover {
        border-bottom: 1px solid red;
    }
    #logo {
        font-size: 250%;
    }
}