/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* general style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden.heading {
    display: none;
}

/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu-item {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu-item > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid red;
}

/* navbar styles wuth dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */

main {
    flex: 1 auto;
    margin-top: 47px;
    background: url('../images/possible\ background.jpg') no-repeat center/cover;
}

/* Hero image */

#hero-image {
    height: 700px;
    width: 100%;
    background: url("../images/pexels-karolina.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    text-align: center;
}

/* services section */

#services h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#services-list {
    display: flex;
    flex-wrap: wrap;
}

#services-list div {
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    margin-bottom: 20px;
    width: 100%
}

#services-list h3 {
    color: #fafafa;
}

#services-list p {
    text-align: left;
    font-size: large;
    padding: 10px;
}

/* contact section */

#contact-details {

    display: flex;
    flex-wrap: wrap;
}

#contact-details div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;

}

#contact-details h3 {

    color: #fafafa;
}

#contact-section h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
}

/*enquiry form*/

#enquiry {
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top: 100px;
}

.enquiry {
    color: #ffffff;
    background-color: rgba(33, 25, 25, 0.6);
    padding: 30px;
}

.enquiry >h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#enquiry-desc {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 150px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.checkbox {
    width: 70%;
    display: flex;
    justify-content: space-between;
}


#btn {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fafafa;
}


/* footer */

#social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: hsl(0, 4%, 69%);
}

#social-links > i {
    font-size: 160%;
    padding: 5%;
    color: #b8b0b0;
}

/* media queries start */

@media screen and (min-width: 320px) {
    .checkbox {
        width: 150%;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 768px){
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1 rem;
    }

    #menu-item {
        display: flex;
    }

    #menu-item > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 210%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* main content */
    main {
        margin-top: 75px;
    }

    #cover-text {
        width: 400px;
        right: 50px;
    }

    /* enquiry form*/
    
    .checkbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
} 

/* larger devices [laptops and desktops of 992px plus] */
@media screen and (min-width: 992px) {
    #menu-item a:hover {
        border-bottom: 1px solid red;
    }
    #logo {
        font-size: 250%;
    }
    
}

/* larger screens [laptops and desktops of 1200px plus] */
@media screen and (min-width: 1200px) {
    #services-list {
        display: flex;
        flex-direction: row;
    }

    #services-list > div {
        flex: 1;
    } 

    #services-list-one {
        order: 1;
    }

    #services-list-one > div {
        align-self: flex-start;
    }

    #services-list-two > div {
        align-self: flex-end;
    }

    #services-list div {
        margin-left: 80px;
    }
}
/* media queries end*/
